*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



#global{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(211, 211, 211), rgb(224, 224, 224), rgb(255, 255, 255) );
    border-radius: 5px;
}

#containerBotoes{
    display: flex;
}

#display{
    display: flex;
    background-color: rgba(0, 0, 0, 0.384);
    margin-bottom: 20px;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    border: 8px solid black;
}


#resultado{
    margin-right: 5px;
}


#containerNumeros{
    margin-right: 15px;
}

.numeros button{
    width: 80px;
    height: 70px;
    font-size: 40px;
    margin-bottom:5px;
    border: 0;
    border-radius: 5px ;
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}

.ultimo button{
    margin-bottom: 0;
}

.aritimeticos button{
    width: 80px;
    height: 70px;
    font-size: 40px;
    margin-bottom: 5px;
    background-color: rgb(58, 58, 58);
    border: 0;
    border-radius: 5px ;
    color: white;
    cursor: pointer;
}

footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

footer p{
    color: white;
    font-size: 18px;
}

footer a{
    color: rgb(0, 17, 255);
    text-decoration: none;
    font-weight: bold;
}



@media (max-width: 450px){
    
    .numeros button{
        width: 60px;
        height: 50px;
        font-size: 35px;
    }

    

    .aritimeticos button{
        width: 60px;
        height: 50px;
        font-size: 35px;
    }
   
}